.game-screen {
  
  &__wrapper {
    position: relative;
  }

  &__corner {
    position: absolute;
    background-color: $color-blue;
    width: 20px;
    height: 20px;

    &--top {
      top: 0;
      border-bottom: 4px solid $color-gold;
    }

    &--bottom {
      bottom: 0;
      border-top: 4px solid $color-gold;
    }

    &--left {
      left: 0;
      border-right: 4px solid $color-gold;
    }
  
    &--right {
      right: 0;
      border-left: 4px solid $color-gold;
    }
  }
}