.submit-score {
  position: absolute;
  left: 0;
  top: 30%;
  height: 250px;
  margin: 0 40px;
  text-align: center;
  @extend %panel-style;

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }

  &__wrapper {
    margin: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__buttons-wrapper {
    width: 80%;
    margin: 30px auto 0;
    @include flex-between(row);
  }

  &__button {
    padding: 10px;
    font-family: 'Karmatic Arcade', sans-serif;
    font-size: 25px;
    cursor: pointer;
    @extend %panel-style;
    @include flex-center(row);

    &:hover {
      transform: translateY(-5px);
    }

    &.yes {
      &:hover {
        background-color: rgb(41, 186, 13);
      }
    }

    &.no {
      &:hover {
        background-color: rgb(186, 13, 13);
      }
    }
  }
}