.sidebar-info {
  position: relative;
  background-color: $color-blue;
  height: 150px;
  width: 375px;
  padding: 20px;
  margin: 20px 0;
  border: $gold-border;  

  &__text {
    display: block;
    color: $color-white;

    &--title {
      margin-bottom: 8px;
      font-size: 34px;
      letter-spacing: 2px;
    }

    &--cost {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 20px;
    }
  }
}