%sidebar-icon {
  background-color: $color-blue;
  padding: 15px;
  border: $gold-border;
  user-select: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 425px;
  background-color: $color-dark-blue;
  height: 100%;
  padding: 25px 20px;
  border-left: 4px ridge $color-gold;
}

.shop {
  position: relative;
  height: 47%;
  border-bottom: $gold-border;
  @include flex-start(column);

  &__title {
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 3px;
  }

  &__item-list {
    width: 100%;
    @include flex-between(row);
  }
}

.shop-item {
  position: relative;
  cursor: pointer;
  @include flex-center(column);
  @include hoverElement;
  @include activeElement;

  &__icon {
    @extend %sidebar-icon;
  }

  &__owned {
    margin-top: 5px;
    font-size: 20px;
  }
}

.sidebar-buttons {
  &__row {
    margin: 20px 0;
    @include flex-center(row);
  }
}

.sidebar-option {
  flex: 1;
  background-color: $color-blue;
  border: $gold-border;
  margin: 0 5px;
  user-select: none;
  cursor: pointer;
  @include hoverElement;
  @include activeElement;

  &__wrapper {
    padding: 15px;
    @include flex-center(column);

    &--sound {
      padding: 0;
    }
  }

  &__icon {
    margin-bottom: 8px;
  }

  &__text {
    font-size: 17px;
  }
}

.submit-form {
  @include flex-center(row);
  
  &__input,
  &__button {
    background-color: $color-blue;
    height: 75px;
    padding: 0 10px;
    border: $gold-border;
    font-size: 25px;
    @include flex-center(row);
  }

  &__input {
    width: 100%;
  }

  &__button {
    height: 95px;
    margin-left: 15px;
    cursor: pointer;
    @include hoverElement;
    @include activeElement;
  }
}
