.game-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 465px;
}

.action-window {
  position: relative;
  height: 800px;
  width: 800px;
  background-image: url('../images/background-level-one.png');
  background-size: 100%;
  background-repeat: repeat-x;
  border: 10px solid;
  border-color: rgb(33,33,33) rgb(79,79,79) rgb(79,79,79) rgb(33,33,33);
  animation: sidescroll 5s linear infinite;
  @include flex(column);
}

.action-button {
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
  
  &__image {
    height: 300px;
    animation: bobbing 1s linear infinite;
  }
}

.user-score {
  min-width: 300px;
  position: absolute;
  left: 20px;
  top: 20px;
  @include flex(column);

  &__value {
    font-size: 50px;
  }
}

.user-level {
  position: absolute;
  top: 20px;
  right: 20px;

  &__value {
    font-size: 17px;
  }
}