
.submit-score {
  position: absolute;
  top: 30%;
  height: 250px;
  left: 0;
  text-align: center;
  margin: 0 40px;
  background-color: $color-blue;
  border: $gold-border;

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }

  &__wrapper {
    margin: 30px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__buttons-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    border: $gold-border;
    background-color: $color-blue;
    font-family: 'Karmatic Arcade', sans-serif;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }

    &.yes {
      &:hover {
        background-color: rgb(41, 186, 13);
      }
    }

    &.no {
      &:hover {
        background-color: rgb(186, 13, 13);
      }
    }
  }
}