// Sidescroll Background
@keyframes sidescroll {
  0% { background-position: 0 0; }
  100% { background-position: -800px 0; }
}

// Sidescroll WelcomeScreen Background
@keyframes sidescroll-image {
  0% { transform: translateX(0); }
  100% { transform: translateX(-800px); }
}

// Flashing Text
@keyframes flash-opacity {
  0% { opacity: 0; }
  50% { opacity: 1; }
  0% { opacity: 0; }
}

// Pizza Bobbing
@keyframes bobbing {
  0% { padding-bottom: 0; }
  50% { padding-bottom: 20px; }
  100% { padding-bottom: 0; }
}