body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: $font-stack;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    text-transform: uppercase;
  }

  p,
  span {
    font-size: 26px;
    letter-spacing: 1px;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  button,
  input {
    &:focus {
      outline: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  input,
  button {
    font-family: $font-stack;
    font-size: 26px;
    letter-spacing: 1px;
  }
}
