@font-face {
  font-family: 'Karmatic Arcade';
  src: url('../fonts/font-karmatic-arcade.eot');
  src: url('../fonts/font-karmatic-arcade.woff') format('woff'),
       url('../fonts/font-karmatic-arcade.ttf') format('truetype');
};
