@font-face {
  font-family: 'Karmatic Arcade';
  src: url('../fonts/font-karmatic-arcade.eot');
  src: url('../fonts/font-karmatic-arcade.woff') format('woff'),
       url('../fonts/font-karmatic-arcade.ttf') format('truetype');
};

@font-face {
  font-family: 'Arcade Classic';
  src: url('../fonts/font-arcade-classic.ttf') format('truetype');
};

.title {
  font-size: 26px;
  letter-spacing: 1px;
}

.text {
  font-size: 18px;
  letter-spacing: 0.7;
}