// Prefixes
$color-blue: rgb(79,144,204);
$color-gold: rgb(255,165,0);
$gold-border: 10px ridge $color-gold;

// Mixins
@mixin flex($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: ($direction);
}