@mixin flex-center ($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-between ($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin flex-start ($direction) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: $direction;
}

@mixin activeElement {
  &:active {
    transform: scale(0.98);  
  }
}

@mixin hoverElement {
  &:hover {
    transform: translateY(-5px);
  }
}