// Sidescroll Background
@keyframes sidescroll {
  0% { background-position: 0 0; }
  100% { background-position: -800px 0; }
}

// Sidescroll WelcomeScreen Background
@keyframes sidescroll-image {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-800px, 0, 0); }
}

// Flashing Text
@keyframes flash-opacity {
  0% { opacity: 0; }
  50% { opacity: 1; }
  0% { opacity: 0; }
}

// Fade Out
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// Animate WelcomeScreen Away
@keyframes welcome-screen-away {
  0% { transform: translate3d(0); }
  100% { transform: translate3d(0, 800px, 0); }
}

// Fly Pizza Onscreen
@keyframes fly-in-pizza {
  0% { transform: translate3d(-560px, 0, 0); }
  100% { transform: translate3d(0); }
}

// Pizza Bobbing
@keyframes bobbing {
  0% { transform: translate3d(0); }
  50% { transform: translate3d(0, -15px, 0); }
  100% { transform: translate3d(0); }
}

// Trophy Bobbing
@keyframes mini-bobbing {
  0% { transform: translate3d(0); }
  50% { transform: translate3d(0, -10px, 0); }
  100% { transform: translate3d(0); }
}