@font-face {
  font-family: 'Karmatic Arcade';
  src: url('../fonts/font-karmatic-arcade.eot');
  src: url('../fonts/font-karmatic-arcade.woff') format('woff'),
       url('../fonts/font-karmatic-arcade.ttf') format('truetype');
};

@font-face {
  font-family: 'Arcade Classic';
  src: url('../fonts/font-arcade-classic.ttf') format('truetype');
};

@font-face {
  font-family: 'Pixellari';
  src: url('../fonts/font-pixellari.ttf') format('truetype');
}

.title {
  &--popup {
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 3px;
  }
}