.submit-score {
  min-height: 340px;

  &__wrapper {
    margin: 30px;
    padding-bottom: 10px;
    @include flex-center(column);
  }

  &__text,
  &__ending-image {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 22px;
  }

  &__ending-image {
    width: 280px;
  }

  &__loading-wrapper {
    height: 340px;
    width: 100%;
    @include flex-center(column);
  }

  &__buttons-row {
    width: 510px;
    @include flex-between(row);
  }

  &__buttons-wrapper {
    position: absolute;
    bottom: -32px;
    width: 480px;
    @include flex-between(row);
  }

  &__button {
    min-width: 200px;
    text-align: center;
    padding: 10px;
    color: $color-white;
    font-size: 27px;
    letter-spacing: 2px;
    cursor: pointer;
    @extend %panel-style;
    @include flex-center(row);
    @include hoverElement;

    &.yes {
      &:hover {
        background-color: rgb(41, 186, 13);
      }
    }

    &.no {
      &:hover {
        background-color: $color-red;
      }
    }
  }
}