.leaderboard {
  min-height: 500px;
  overflow: hidden;
  
  &__wrapper {
    position: relative;
    padding: 30px;
    @include flex-center(column);
  }

  &__categories {
    width: 100%;
    margin-bottom: 10px;
    @include flex-between(row);    
  }
}

.leaderboard-list {
  width: 100%;
  margin: auto;
  
  &__entry {
    margin-bottom: 5px;
    background-color: $color-blue;
    @include flex-between(row);
  }

  &__position {
    width: 10%;
    text-align: center;
  }

  &__username {
    width: 65%;
    text-align: left;
  }

  &__score {
    width: 25%;
    text-align: center;
  }
}