$rank-column-width: 15%;
$username-column-width: 60%;
$score-column-width: 25%;


.leaderboard {
  min-height: 500px;
  overflow: hidden;
  
  &__wrapper {
    padding: 30px;
    @include flex-center(column);
  }

  &__categories {
    width: 100%;
    margin-bottom: 10px;
    @include flex-between(row);
  }

  &__category {
    &--rank,
    &--username {
      text-align: left;
    }

    &--rank {
      width: $rank-column-width;
    }

    &--username {
      width: $username-column-width;
    }

    &--score {
      width: $score-column-width;
    }
  }
}

.leaderboard-list {
  width: 100%;
  height: 340px;
  margin: auto;
  padding-bottom: 25px;
  overflow-y: scroll;
  
  &__entry {
    background-color: $color-blue;
    padding: 0 5px;
    margin-bottom: 5px;
    text-align: left;
    @include flex-between(row);
  }

  &__rank {
    width: $rank-column-width;
  }

  &__username {
    width: $username-column-width;
  }

  &__score {
    width: $score-column-width;
    margin-right: 10px;
    text-align: right;
  }
}