.feedback-popup {
  &__wrapper {
    margin: 30px;
    padding-bottom: 10px;
  }

  &__form {
    @include flex-center(column);
  }

  &__rating-list {
    width: 520px;
    padding: 0 15px;
    margin-bottom: 25px;
    @include flex-between(row);
  }

  &__radio-input {
    display: none;
  }

  &__rating-wrapper {
    input[type="radio"] + label {
      &:before {
        content: '';
        display: inline-block;
        height: 17px;
        width: 16px;
        margin-right: 10px;
        background-image: url('../images/checkboxes.png');
        background-repeat: no-repeat;
        background-position: -39px 0;
      }
    }

    input[type="radio"]:checked + label {
      &:before {
        background-position: -58px 0;
      }
    }
  }

  &__radio-label {
    font-size: 30px;
    cursor: pointer;
  }

  &__text-field {
    width: 510px;
    height: 150px;
    padding: 10px 15px;
    border: $gold-border;
    resize: none;
  }

  &__submit {
    position: absolute;
    bottom: -30px;
    padding: 10px;
    text-align: center;
    color: $color-white;
    font-size: 27px;
    letter-spacing: 2px;
    cursor: pointer;
    @extend %panel-style;
    @include hoverElement;

    &:hover {
      background-color: $color-green;
    }
  }

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }
}