.submit-score {
  position: relative;
  background-color: $color-dark-blue;
  width: 600px;
  border: $gold-border;
  margin: 0 40px;
  text-align: center;
  z-index: 2;

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }

  &__wrapper {
    margin: 30px;
    padding-bottom: 10px;
    @include flex-center(column);
  }

  &__title {
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 3px;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 22px;
  }

  &__buttons-wrapper {
    position: absolute;
    bottom: -32px;
    width: 480px;
    @include flex-between(row);
  }

  &__button {
    padding: 10px;
    font-family: $title-font;
    color: $color-white;
    font-size: 22px;
    letter-spacing: 2px;
    cursor: pointer;
    @extend %panel-style;
    @include flex-center(row);

    &:hover {
      transform: translateY(-5px);
    }

    &.yes {
      &:hover {
        background-color: rgb(41, 186, 13);
      }
    }

    &.no {
      &:hover {
        background-color: rgb(186, 13, 13);
      }
    }
  }
}