.leaderboard {
  min-height: 500px;
  overflow: hidden;
  
  &__wrapper {
    position: relative;
    padding: 30px;
    @include flex-center(column);
  }

  &__text {
    font-size: 22px;
  }
}

.leaderboard-list {
  width: 100%;
  margin: auto;
  
  &__entry {
    list-style-type: decimal-leading-zero;
    margin-bottom: 3px;
    margin-left: 40px;
  }

  &__score {
    float: right;
  }
}