.welcome-screen {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;

  &__content,
  &__animate-wrapper {
    width: 100%;
    height: 100%;
    @include flex-center(column);
  }

  &__animate-wrapper {
    &--animating {
      animation: welcome-screen-away 3s linear forwards;
    }

    &--hidden {
      display: none;
    }
  }

  &__title {
    width: 80%;
    margin-bottom: 200px;
    text-align: center;
    font-family: $title-font;
    font-size: 60px;
    color: $color-black;
    letter-spacing: 12px;
    animation: flash-opacity 1.5s linear infinite;
    animation-timing-function: steps(1, end);
  }

  &__background-wrapper {
    @extend %background-style;
  }

  &__background {
    animation: sidescroll-image 120s linear forwards;
  }

  &__blue-backdrop {
    background-color: rgb(133, 207, 250);   // #85CFFA
    z-index: -2;
    @extend %background-style;

    &.animating {
      animation: fade-out 3s linear forwards;
      animation-delay: 3.5s;
      animation-timing-function: steps(10, end);
    }
  }

  &__version {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 17px;
  }

  &--visible {
    display: flex;
  }

  &--hidden {
    display: none;
  }
}

.user-form {
  width: 600px;
  text-align: center;
  @include flex-center(column);

  &__row {
    @include flex-center(row);
  }

  &__text {
    margin-bottom: 25px;
    color: $color-black;
    letter-spacing: 2px;
  }

  &__error {
    color: $color-red;
  }

  &__field {
    background-color: rgb(243, 243, 243);   // #F3F3F3
    border: $gold-border;
    border-right: 0;
    padding: 6px 7px;
  }

  &__submit {
    height: 50px;
    padding: 0 15px;
    cursor: pointer;
    color: $color-white;;
    @extend %panel-style;

    &:hover {
      background-color: $color-dark-blue;
    }
  }
}