%sidebar-icon {
  background-color: $color-blue;
  padding: 15px;
  border: $gold-border;
  user-select: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 425px;
  background-color: $color-dark-blue;
  height: 100%;
  padding: 0 20px;
  border-left: 4px ridge $color-gold;

  &__overlay {
    background-color: $color-dark-blue;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    &--hide-sidebar {
      opacity: 1;
    }

    &--animating {
      animation: fade-out 3s linear forwards;
      animation-delay: 3.5s;
      animation-timing-function: steps(10, end);
    }

    &--enable-sidebar {
      display: none;
    }
  }
}

.shop {
  position: relative;
  border-bottom: $gold-border;
  @include flex-start(column);

  &__title {
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 3px;
  }

  &__item-list {
    width: 100%;
    @include flex-between(row);
  }
}

.shop-item {
  position: relative;
  cursor: pointer;
  @include flex-center(column);
  @include hoverElement;
  @include activeElement;

  &__icon {
    @extend %sidebar-icon;
  }

  &__owned {
    margin-top: 5px;
    font-size: 20px;
  }
}

.sidebar-buttons {
  &__row {
    margin: 25px 0;
    @include flex-center(row);
  }
}

.sidebar-option {
  flex: 1;
  margin: 0 5px;
  user-select: none;
  cursor: pointer;
  @extend %panel-style;
  @include hoverElement;
  @include activeElement;

  &__wrapper {
    padding: 15px 0;
    @include flex-center(column);

    &--sound {
      padding: 0;
    }
  }

  &__icon {
    margin-bottom: 8px;
  }

  &__text {
    text-align: center;
    font-size: 17px;
  }
}

.submit-form {
  @include flex-center(row);
  
  &__input,
  &__button {
    height: 75px;
    padding: 0 10px;
    font-size: 25px;
    @extend %panel-style;
    @include flex-center(row);
  }

  &__input {
    width: 100%;
  }

  &__button {
    height: 95px;
    margin-left: 15px;
    cursor: pointer;
    @include hoverElement;
    @include activeElement;
  }
}
